@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #050808;
    color: #e9e9e9;
}

.container {
    max-width: 800px;
}

.bg-20 {
    background-color: #202020;
}

.bg-40 {
    background-color: #404040;
}

.err-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.neterrgif {
    width: 500px;
    height: 500px;
}